body{
    font-family: 'Source Sans Pro', sans-serif;
}


/*CONTAINER TOPO*/
.container-topo{
    width: 100%;
    padding: 15px 0;
    background-color: #f1f1f1;
    position: fixed;
    top: 0;
}

.container-topo-links{
    margin: 0 auto;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-pousada a{
    font-size: 25px;
    text-decoration: none;
    color: #000;
}

.links-menu a{
   margin: 0 10px;
   font-size: 18px;
   text-decoration: none;
   color: #000;
}

.link-pousada a span{
    color: rgb(19, 106, 134);
}

/*CONTAINER CONTEUDO PRINCIPAL*/
/*BANNER*/
.container-main{
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.banner{
    width: 98.4vw;
    height: 100vh;
    background-image: url(../assets/img-fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-titulo{
    color: #fff;
    background-color: rgba(23, 138, 138, 0.6);
    width: 370px;
    border: 1px solid #ffffff8d;
    text-align: center;
    padding: 12px 5px 10px;
}

.main-titulo h1{
    font-size: 42px;
}

.main-titulo p{
    font-size: 22px;
}


/*SEGUNDA SESSÃO*/
.main-subtitulo{
    text-align: center;
    margin: 10px auto;
    padding: 30px 0;
    font-weight: lighter;
    font-size: 18px;
}

.main-subtitulo h2,
.main-subtitulo h3{
    font-size: 30px;
    font-weight: normal;
}

/*SESSÃO CARD QUARTOS*/
.container-quartos{
    margin: 0 auto;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card-quarto{
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    border-bottom: 2px solid rgb(23, 138, 138);
}

.card-quarto img{
    width: 100%;
}

.card-quarto p {
    text-align: center;
}

.card-quarto p a {
    padding: 4px;
    text-decoration: none;
    color: black;
}

/*SESSÃO ROTAS*/
.container-iframe{
    width: 98.4vw;
}

iframe{
    width: 100%;
}

/*SESSÃO SOBRE*/
.container-sobre-pousada{
    margin: 20px auto;
    max-width: 1224px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.card-sobre{
    width: 450px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-sobre-img img{
    width: 100px;
    height: 110px;
}

.card-sobre-texto p{
    font-size: 14px;
    margin-right: 5px;
}

/*RODAPÉ*/
.container-rodape{
    background-color: #49997d;
    color: #fff;
}

.container-largura{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.container-rodape-contato{
    flex: 1 0 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-rodape-contato h4{
    font-size: 20px;
}

.container-rodape-contato a{
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
}

.container-rodape-contato img{
    width: 40px;
    height: 40px;
}

.texto-copy{
    margin: 0 auto;
    padding: 20px;
    font-weight: 600;
    text-align: center;
    border-top: 1px solid #3b7863;
}
