body{
    font-family: 'Source Sans Pro', sans-serif;
}


/*CONTAINER TOPO*/
.container-topo{
    width: 100%;
    padding: 15px 0;
    background-color: #fff;
    position: fixed;
    top: 0;
}

.container-topo-links{
    margin: 0 auto;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-topo-links a {
    text-decoration: none;
    color: #000;
}

.link-pousada a span{
    color: rgb(19, 106, 134);
}

.link-pousada a{
    font-size: 25px;
}

.links-menu a{
   margin: 0 10px;
}