body{
    font-family: 'Source Sans Pro', sans-serif;
}


/*CONTAINER TOPO*/
.container-topo{
    width: 100%;
    padding: 15px 0;
    background-color: #f1f1f1;
    position: fixed;
    top: 0;
}

.container-topo-links{
    margin: 0 auto;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-pousada a{
    font-size: 25px;
    text-decoration: none;
    color: #000;
}

.links-menu a{
   margin: 0 10px;
   font-size: 18px;
   text-decoration: none;
   color: #000;
}

.link-pousada a span{
    color: rgb(19, 106, 134);
}

/*CONTAINER CONTEUDO PRINCIPAL*/
/*BANNER*/
.container-main{
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.banner{
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/img-fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-titulo{
    color: #fff;
    background-color: rgba(23, 138, 138, 0.6);
    width: 370px;
    border: 1px solid #ffffff8d;
    text-align: center;
    padding: 12px 5px 10px;
}

.main-titulo h1{
    font-size: 42px;
}

.main-titulo p{
    font-size: 22px;
}
